*

!.gitignore
!Makefile
!src/
!inc/
!inc/tivaware
!lib/
!sim/
!misc/
!pcb/
!kludge/
!**/*.c
!**/*.s
!**/*.h
!**/*.md
!**/*.ld
!**/*.gdb
!**/*.rules

!**/*.kicad
!**/*.kicad_pcb
!**/*.pro
!**/*.sch
!**/*.brd
!**/*.lib
!**/*.mod

